.App {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  width: 250px;
  height: 225px;
}

button {
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.wrong {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 20px;
}

.correct {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  font-size: 20px;
}
